{% extends "../layout.njk" %}

{% block content %}
  <div class="content">
    <section class="card shadow">
      <div class="card-header">
        <h3>Editar produto</h3>
      </div>

      <form action="/products?_method=PUT" method="post" enctype="multipart/form-data">
        <div class="fields">
          {% include "products/fields.njk" %}
          <input 
            type="hidden"
            name="id"
            value={{product.id}}
          >
        </div>

        <button class="button submit" type="submit">Salvar</button>
        
      </form>

      <form action="/products?_method=DELETE" method="post" id="form-delete">
        <input 
          type="hidden"
          name="id"
          value={{product.id}}
        >
        <button class="button delete">Deletar produto</button>
      </form>

    </section>
  </div>

  <script>
    const formDelete = document.querySelector("#form-delete")
    formDelete.addEventListener("submit", function(event) {
      const confirmation = confirm("Deseja deletar o produto?")
      if (!confirmation) {
        event.preventDefault()
      }
    })
  </script>
{% endblock %}