{% extends "../layout.njk" %}

{% block content %}
  <div class="content">
    <section class="card shadow">
      <div class="card-header">
        <h3>Cadastrar categoria</h3>
      </div>

      <form action="/categories" method="post">
        <div class="fields">
          {% include "categories/fields.njk" %}
        </div>

        <button class="button submit" type="submit">Salvar</button>
        
      </form>
    </section>
  </div>
{% endblock %}