<div class="item">
  <div class="field-label">Nome</div>
  <div>
    <input 
      type="text"
      name="name"
      placeholder="Nome da categoria"
      value="{{category.name}}"
    >
  </div>
</div>