<header class="shadow">
  <div class="logo">
    <a href="/"><img src="/assets/logo.png" alt="Sol a Sol"></a>
  </div>
  <div class="buttons">
    <a href="/products/create" class="button submit">Cadastrar Produto</a>
    <a href="#" class="button submit">Gerar PDF</a>
  </div>
</header>

